.products_page {
  max-width: 1345px;
  margin: 60px auto 75px;
}
.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.3fr));
  grid-auto-rows: auto;
  gap: 35px;
}
.title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 60px;
}
