.basket_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
  width: 100%;
  height: 390px;
  border: 1px solid #000000;
  border-radius: 21px;
  margin-top: 95px;
  padding: 25px;
}
.title {
  font-weight: 600;
  font-size: 28px;
}
.total_blok {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total_text {
  font-weight: 500;
  font-size: 24px;
}
.total_sum {
  font-weight: 600;
  font-size: 32px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.phone_number {
  padding: 25px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}
.phone_number::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #929292;
}
.reject {
  border: 2px solid rgba(250, 73, 108, 0.558);
  box-shadow: rgba(151, 65, 65, 0.45) 0px 5px 15px;
}
.order_btn {
  background: #339933;
  border-radius: 17px;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  padding: 20px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  .basket_form {
    width: 500px;
    margin-top: 0;
  }
}
