.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-content: center;
  width: 100%;
  margin-top: 30px;
}
.image {
  width: 500px;
  height: 70%;
}
.text{
  font-weight: 500;
  font-size: 35px;
  color: rgba(158, 158, 158, 0.761);
}
